dist: xenial
language: node_js
node_js:
  - 10

addons:
  firefox: "latest"
  chrome: "stable"

before_script:
  - "Xvfb :99 & export DISPLAY=:99"
  - sleep 5
  - yarn

stages:
  - build
  - check
  - test

jobs:
  include:
    - stage: build
      name: "Make sure the build is successful"
      script:
        - yarn build

    - stage: check
      name: "[SKIPPED tmp] Auditing package dependencies for security vulnerabilities"
      script: yarn audit

    - script: npx eslint ./src/avionics/index.js
      name: "Run linter (ESLint)"







